body {
  width: 100%;
  background-color: #fff;
  border-width: 2px 2px 8px 2px;
  border-radius: 5px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 6px 0 rgb(32 33 36 / 28%);
}

.logo-container {
  width: 114px;
  height: 48px;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #28352f;
  margin: 10px 12px;
  text-align: center;
}

.menu-button {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.menu-anchor {
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  display: none;
}

.interactive-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.close-menu {
  width: 40px;
  align-self: flex-end;
  margin: 4px 6.5% 20px 0;
}

.menu-option {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  text-decoration: none;
  margin-bottom: 40px;
  margin-left: 7%;
}

.headline {
  width: 100%;
  padding-top: 64px;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.fix-content {
  margin-top: 48px;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #172b4d;
  text-align: center;
  margin: 0 24px;
}

.title-desk {
  display: none;
}

.subtitle {
  color: #36b37e;
}

.supporting-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #172b4d;
  text-align: center;
  margin: 55px 24px;
}

.custome > img {
  transition: all 0.3s ease;
}

.social-media-icons {
  width: 220px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.social-media-icons li a img {
  transition: transform 0.3s;
}

.custome > img:hover {
  transform: scale(1.3);
  padding: 0 5px;
}

.social-media-icons li a img:hover {
  transform: scale(1.3);
}

.info-button {
  justify-content: center;
  align-self: stretch;
  margin: 0 24px;
}

.info-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.arrow-container {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
}

.recent-works {
  width: 100%;
  box-sizing: border-box;
  padding: 22px 22px 0 26px;
  flex-direction: column;
  align-items: center;
}

.works-title {
  margin: 0 0 24px 0;
  align-self: stretch;
}

.about-desc {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.photo {
  justify-content: center;
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works-title-desk {
  display: none;
}

.works-title-line {
  width: 15%;
  height: 4px;
  background-color: #36b37e;
  border-radius: 24px;
  margin: 0 0 62px 0;
}

.works-container {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 474px);
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
}

.works {
  height: 474px;
  border: 2px solid #d0d9d4;
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #ebf0ee;
}

/* Cards Images */
.cards-img-cont {
  height: 252px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.cards {
  width: 100%;
  height: 222px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.cards-title {
  box-sizing: border-box;
  margin: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3a4a42;
  text-align: center;
  align-self: stretch;
}

.cards-lang {
  margin: 0 11px 29px 11px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.cards-lang-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 12px;
  background-color: #ebf0ee;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  text-decoration: none;
}

.access-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  transition: all 1s;
}

.access-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  text-decoration: none;
  color: #36b37e;
  background-color: #ebf0ee;
  font-weight: 600;
}

.access-button:focus {
  background-color: #008552;
  text-decoration: none;
}

.about-me {
  padding: 64px 12px;
  background-image: url('../images/about-2.png'), url('../images/about-1.png');
  background-repeat: no-repeat;
  background-size: 17%, 21%;
  background-position: 0 22%, 100% -0.5%;
}

.about-text {
  color: #42526e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.custome {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-bottom;
}

.abt-links {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: font-size 0.3s ease;
}

.abt-links:hover {
  font-size: 24px;
}

.about-btn {
  margin-bottom: 59px;
}

.cv-container {
  display: grid;
  grid-template-rows: repeat(3, 352px);
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
}

.cv-cell {
  height: 352px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  margin: 0 12px;
  padding-top: 40px;
}

.cv-img {
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 80px;
}

.cv-cell-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  text-align: center;
  align-self: stretch;
  margin: 64px 0 24px 0;
}

.cv-feat-cont {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: stretch;
  gap: 5%;
  margin: 0 5%;
}

.cv-feat-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  text-decoration: none;
}

.form-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/form.png');
  background-repeat: no-repeat;
  background-position: 100% 67%;
}

.form-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  padding: 0 6% 58px 6%;
}

.form {
  width: 87%;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.box-textarea {
  height: 114px;
  color: #091e42;
}

.form-btn {
  border: none;
  cursor: pointer;
}

.social-media-form {
  margin-top: 44px;
  margin-bottom: 19px;
}

.email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: 290px;
}

.final-line {
  border: 2px solid #000;
  border-radius: 20px;
  width: 35%;
  margin-bottom: 8px;
}

/* Pop-up */

.popup-container {
  position: fixed;
  background-color: rgba(193, 199, 208, 0.8);
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px 4.3% 26px 4.3%;
}

.pop-body {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 4.3% 20px 4.3%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 6.4%;
  top: 24px;
}

.pop-img {
  width: 100%;
  margin-bottom: 12px;
}

.pop-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 12px;
}

.pop-lang {
  margin: 0 0 12px 0;
}

.pop-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 16px;
}

.pop-btn-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pop-icon {
  margin-left: 12px;
  vertical-align: middle;
}

/* validate form classes */

.msg-cont {
  background-color: #f47174;
  width: 100%;
  padding: 15px 16px;
  margin-top: 24px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.error-msg {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.highlight {
  border: 2px solid #f47174;
}

@media screen and (min-width: 768px) {
  body {
    position: relative;
    background-image: url('../images/header-desktop.png'), url('../images/about-desktop-2.png'), url('../images/about-desktop-1.png'), url('../images/contact-desktop-1.png'), url('../images/contact-desktop-2.png'), url('../images/contact-desktop-3.png');
    background-repeat: no-repeat;
    background-size: 98%, 16%, 15.5%, auto, 10%, auto;
    background-position: 100% 0, 0 67.2%, 100% 64.4%, 0 98.6%, 22% 96.4%, 100% 98.45%;
  }

  header {
    justify-content: center;
    height: 72px;
  }

  .logo-container,
  .menu-button {
    display: none;
  }

  .menu-bar {
    width: 255px;
    display: flex;
    justify-content: space-between;
  }

  .menu-opt-cont {
    align-items: center;
    height: 40px;
    border: 1px solid transparent;
    text-decoration: none;
  }

  .menu-opt-cont:hover {
    border: 1px solid #36b37e;
  }

  .menu-opt {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    box-sizing: border-box;
    padding: 10px 12px;
    text-align: center;
  }

  .headline {
    padding-top: 160px;
    background-image: none;
  }

  .headline > h1.title {
    display: none;
  }

  .fix-content {
    margin-top: 72px;
  }

  .title {
    font-size: 48px;
    line-height: 60px;
  }

  .title-desk {
    display: block;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #172b4d;
    text-align: center;
    margin: 0 24px;
  }

  .title-animation {
    animation-name: title-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }

  @keyframes title-animation {
    from {
      font-size: 30px;
    }

    to {
      font-size: 48px;
    }
  }

  .supporting-text {
    width: 60%;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 24px 0 34px 0;
  }

  .social-media-icons {
    margin-bottom: 84px;
  }

  .info-button {
    width: 82vw;
    margin: 0 auto;
  }

  .recent-works {
    box-sizing: border-box;
    padding: 495px 0 0 0;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .works-title {
    margin-bottom: 52px;
    font-size: 40px;
    line-height: 52px;
  }

  .works-title-mob {
    display: none;
  }

  .works-title-desk {
    display: block;
  }

  .works-title-line {
    display: none;
  }

  .works-container {
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 474px);
    grid-template-columns: repeat(3, 369px);
    grid-row-gap: 32px;
    grid-column-gap: 24px;
  }

  .about-me {
    background-image: none;
  }

  .about-desc {
    gap: 2%;
    margin-bottom: 45px;
  }

  .desc {
    width: 40%;
  }

  .recent-works.about-me {
    padding: 192px 0 0 0;
  }

  .about-me > .works-title {
    margin-bottom: 15px;
  }

  .about-btn {
    margin-bottom: 0;
  }

  .cv-container {
    display: grid;
    grid-template-rows: 352px;
    grid-template-columns: repeat(3, 369px);
    grid-column-gap: 24px;
  }

  .cv-cell {
    margin: 0;
  }

  .cv-feat-cont-margin-1 {
    margin: 0 49px;
  }

  .cv-feat-cont-margin-3 {
    margin: 0 33px;
  }

  .form-container {
    width: 1155px;
    flex-direction: row;
    align-items: center;
    margin: 164px auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    background-image: none;
  }

  .form-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
    text-align: center;
    padding: 0 24px 80px 0;
    width: 41%;
  }

  .form {
    width: 56%;
    flex-direction: column;
    align-items: flex-start;
  }

  .social-media-form {
    margin: 241px 0 15px 0;
  }

  .email {
    display: none;
  }

  .final-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dfe1e6;
    border: none;
    margin-bottom: 0;
    bottom: 50px;
  }

  /* Pop-Up style in media query */

  .pop-body {
    width: 65%;
    margin: 122px auto auto auto;
    padding-top: 78px;
  }

  .pop-img {
    margin-bottom: 24px;
  }

  .pop-title {
    width: 60%;
    margin-bottom: 20px;
    order: 2;
  }

  .pop-lang {
    justify-content: flex-start;
    margin-bottom: 36px;
    order: 2;
  }

  .pop-lang > li {
    margin-right: 2.1%;
  }

  .pop-description {
    order: 2;
  }

  .pop-btn-cont {
    justify-content: flex-end;
    width: 40%;
    align-self: flex-end;
    order: 1;
    margin-bottom: -50px;
  }

  .pop-btn-cont > a {
    margin-left: 3.2%;
  }
}
